<!-- DOCTYPE tells us what kind of document we are trying to access -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <title>{{title}}</title>
  </head>
  <body>
    <div class="container">
        {{>header}}
        <h1>{{title}}</h1>
        <p>{{message}}</p>
        {{>footer}}
    </div>    
  </body>
</html>