<footer class="text-muted py-5">
  <div class="container-fluid">
    <p class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Created by Sahil </font></font><a href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Visit the homepage</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> or read </font></font><a href="/docs/5.0/getting-started/introduction/ "><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">the Getting Started Guide</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
  </div>
</footer>