img{
    width: 250px;
    height: 250px;
}

.company-logo i{
    font-size:25px;
}
.company-logo span{
    font-size:20px;
}
.loader_wrapper{
    display:none;
}

.content_wrapper{
    display: none;
}